
.resultpane {
  box-sizing: border-box;
  font: normal 16px/1.4 arial, verdana, sans-serif;
  background: #eee;
  color: #333;
}

.resultpane__header {
  margin: 0;
  padding: 0 8px;
  height: 32px;
  border-bottom: 1px solid #999;
  font-size: 20px;
  font-weight: normal;
  line-height: 31px;
}

.resultpane__list {
  position: relative;
  padding: 0;
  margin: 0;
  background: #fefefe;
  overflow-y: auto;
}

.resultpane__item {
  border-bottom: 1px solid #666;
  margin: 0;
  padding: 4px 8px 4px 20px;
  font-size: 16px;
  line-height: 20px;
  position: relative;
}

.resultpane__item:before {
  content: '\003E';
  position: absolute;
  left: 4px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}

.resultpane__item code {
  display: inline-block;
  background: #ff0;
  outline: 3px solid #ff0;
  color: #333;
  margin: 0 2px;
}
