html {
  box-sizing: border-box;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 19.36px;
}

*::before,
::after {
  box-sizing: inherit
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .wrapper {
    width: 1024px;
    padding: 0 15px;
  }
}

img {
  max-width: 100%;
}

.header {
  position: sticky;
  z-index: 100;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(77, 70, 93, 0.7);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 35px;
  line-height: 53.25px;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header__elements {
  display: flex;
  flex-direction: row;
  margin-left: auto
}

.header__favor {
  display: flex;
  position: relative;
  right: 50px;
}

.header__Fcount {
  left: 59px;
  position: absolute;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 200px;
  color: #f3eded;
  background: #F36223;
}

.header__cart {
  display: flex;
  position: relative;
  right: 20px;
}

.header__count {
  left: 50px;
  position: absolute;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 200px;
  color: #f3eded;
  background: #F36223;
}

.header__subtitle,
.footer__subtitle {
  font-size: inherit;
  color: #FF5722;
}

.header__subtitle {
  margin-left: 10px;
}

hr {
  width: 727px;
  border: 2px dashed #888888;
  margin: 40px;
  margin-left: 220px;
}

.main {
  padding-bottom: 50px;
}

.main__unit {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .gallery img {
    max-height: 272px;
  }
}

.main__content {
  display: flex;
  justify-content: space-between;
  gap: 100px;

}

@media (min-width: 1024px) and (max-width: 1499px) {
  .main__container {
    gap: 40px;
  }
}

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 30px;
}

.main__breadcrumbs {
  display: flex;
  gap: 4px;
  padding-top: 29px;
}

.small-gallery {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

/* ЦВЕТ ПРОДУКТА*/

.small-gallery__img-radio {
  border: 1px solid #888888;
  border-radius: 4px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.small-gallery__real-radio,
.configuration__radio,
.radio {
  position: absolute;
  opacity: 0;
}

.small-gallery__img-radio:hover {
  background: #F2F2F2;
  outline: 2px solid #DA4A0C;
}

.configuration {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
}

button {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  background: #EEEEEE;
  cursor: pointer;
}

.configuration__btn-text {
  text-align: center;
  margin: 10px 0px;
}

.memory-button:hover {
  background-color: #F2F2F2;
}

.configuration__btn-radio {
  height: 40px;
  width: 92px;
  border: 1px solid #888888;
  border-radius: 4px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.configuration__btn-radio:hover {
  background: #F2F2F2;
  outline: 2px solid #DA4A0C;
}

.small-gallery__real-radio:checked+.small-gallery__img-radio,
.configuration__radio:checked+.configuration__btn-radio {
  outline: 2px solid #DA4A0C;
}

/*САЙДБАР*/

.sidebar {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 67px;
  background: #ffffff;
  border: 1px solid #bebdbd;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

.price__list {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.price__sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.price__old-cost {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration: line-through;
  color: #888888;
}

.price__new-cost {
  display: flex;
  width: 132px;
  height: 39px;

  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

.price__discount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  border-radius: 500px;
  padding: 8px 10px;
  color: #FFFFFF;
  background: #F36223;
}

.sidebar__favor {
  width: 34px;
  height: 25px;
}

.sidebar__favor:hover {
  cursor: pointer;
}

.sidebar__favor:hover path {
  fill: #F36223;
}

.sidebar__favor:active path {
  fill: rgb(121, 126, 204);
}

.radio:checked+.side-like path {
  fill: #A93A09;
}

.price__delivery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 15px;
}

.price__btn-cart {
  display: flex;
  justify-content: center;
  padding: 20px 49px;
  margin-top: 35px;
  gap: 10px;

  font-size: 20px;
  line-height: 24px;

  background: #F36223;
  border: 0px;
  cursor: pointer;

  color: #FFFFFF;
}

.price__btn-cart::before {
  content: "";
  display: inline-block;
  background-image: url(../IMG/cart-svg.svg);
  width: 30px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}

.price__btn-cart:hover {
  background: #DA4A0C;
  cursor: pointer;
}

.advert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.advert__iframe {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  gap: 10px;
}

.ad {
  color: #888888;
}

/* ТАБЛИЦА ХАРАКТЕРИСТИК */

.table {
  border-collapse: collapse;
  border: 1px solid #888888;
}

@media (min-width: 1024px) and (max-width: 1499px) {

  .table,
  .comparison-title {
    display: none;
  }
}

.table__title {
  border: 1px solid #888888;
  padding: 9px;
}

.table__inf {
  border-right: 1px solid #888888;
  padding: 9px;
}

.table__cells:hover {
  cursor: pointer;
  background: #C4C4C4;
}

.params {
  margin-left: 35px;
  padding: 0;
}

.params__item::marker {
  color: #888888;
  font-size: 35px;
}

/*БЛОК ОТЗЫВЫ*/

.reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 946px;
  padding: 0px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .review__avatar {
    height: 100px;
    width: 100px;
  }
}


.reviews-text {
  padding-left: 20px;
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .reviews-text__stars img {
    height: 20px;
  }
}

.reviews__count {
  font-weight: 700;
  font-size: 24px;
  color: #aaaaaa;
}

.reviews__avatar {
  border-radius: 100px;
}

.reviews__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 839px;
  margin-top: 50px;
  gap: 10px;
}

.reviews__item {
  display: flex;
  padding-top: 10px;
}

.reviews__subtitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ФОРМА ОТПРАВКИ ОТЗЫВА*/

.form {
  padding: 20px;
  margin-left: 200px;
  width: 700px
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .form {
    margin-left: 0;
  }
}

.form__inner {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.form__name {
  width: 370px;
  height: 49px;
  padding: 15px 20px;
  border: 1px solid #888888;
  border-radius: 20px;
}

.form__rating {
  width: 250px;
  padding: 15px 20px;
  border: 1px solid #888888;
  border-radius: 20px;
}

.form__text {
  width: 661px;
  height: 190px;
  padding: 15px 20px;
  margin: 30px 0;
  border-radius: 20px;
  resize: none;
}

.form__button {
  padding: 10px 20px;
  background: #F36223;
  color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #DA4A0C;
}

.form input:hover,
.form textarea:hover {
  outline: 1px solid #000000;
}

.form__button:hover {
  background: #DA4A0C;
  cursor: pointer;
}

.form__button:active {
  background: #DA4A0C;
}

.titlestyle {
  font-size: inherit;
  color: rgb(240, 40, 4);
}

a {
  text-decoration: none;
  color: #008CF0;
}

a:hover {
  color: #F36223;
  cursor: pointer;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 50px;
  background: #F2F2F2;
}

.footer__info {
  display: flex;
  flex-direction: column;
}