html {
    background-image: url(serious_cat.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .conteiner {
    position: absolute;
    top: 200px;
    bottom: 200px;
    right: 100px;
    left: 200px;

  }
  
  .button {
    display: inline-block;
    padding: 6px 10px;
    color: #0b0a01;
    border: 1px solid #0e0d01;
    border-radius: 4px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

  }
  